/* @font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Bold'), url(./fonts/Ubuntu-Bold.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Bold Italic'), url(./fonts/Ubuntu-BoldItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Italic'), url(./fonts/Ubuntu-Italic.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Light'), url(./fonts/Ubuntu-Light.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Light Italic'), url(./fonts/Ubuntu-LightItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Medium'), url(./fonts/Ubuntu-Medium.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Medium Italic'), url(./fonts/Ubuntu-MediumItalic.ttf) format('ttf');
} */
@font-face {
  font-family: 'UbuntuRegular';
  src: local('Ubuntu Regular'), url(./fonts/Ubuntu-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'UbuntuRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'UbuntuRegular';
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}