/* accent #373AF5 (blue)
secondary #8083A4 (grey)
base strong #2C2D76 (dark blue)
critic #E5596D (light red)
base weak #FFFFFF (white) */
@media only screen and (max-width: 480px) {
    /* .App {
        background-color: red;
    } */
    .App-header {
        color: #FFFFFF;
        font-size: 32px;
    }
    .Card {
        width: 95%;
        padding: 0 0px;
    }
    main {
        flex-direction: column;
    }
}
@media only screen and (min-width: 481px) {
    /* .App {
        background-color: green;
    } */
    .Card {
        width: 40%;
    }
}
@media only screen and (min-width: 769px) {
    /* .App {
        background-color: blue;
    } */
    .Card {
        width: 40%;
    }
}