/* App.css */
.App {
    background-color: #373AF5;
    text-align: center;
    height: 100%;
  }

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
      color: #FFFFFF;
      font-size: 102px;
      font-weight: 700;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* index.css */
  /* @font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Bold'), url(./fonts/Ubuntu-Bold.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Bold Italic'), url(./fonts/Ubuntu-BoldItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Italic'), url(./fonts/Ubuntu-Italic.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Light'), url(./fonts/Ubuntu-Light.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Light Italic'), url(./fonts/Ubuntu-LightItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Medium'), url(./fonts/Ubuntu-Medium.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Medium Italic'), url(./fonts/Ubuntu-MediumItalic.ttf) format('ttf');
} */
@font-face {
    font-family: 'UbuntuRegular';
    src: local('Ubuntu Regular'), url(./fonts/Ubuntu-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'UbuntuBold';
    src: local('Ubuntu Bold'), url(./fonts/Ubuntu-Bold.ttf) format('truetype');
}
  
body, html {
    height: 100%;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'UbuntuRegular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'UbuntuRegular';
}

/* background */
.backgroundImage {
    background-position:right top, left bottom;
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

/* card */
.Card {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
    border-radius: 8px;
    padding: 0 58px;
}
.Card-header {
    margin-top: 50px;
}
h1 {
    line-height: 32px;
    font-family: 'UbuntuBold';
    color: #2C2D76;
    font-size: 32px;
}
h2 {
    line-height: 32px;
    font-family: 'UbuntuBold';
    color: #2C2D76;
    font-size: 24px;
}
footer {
    font-family: 'UbuntuRegular';
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px;
    opacity: 0.6;
    position: relative;
    left:0;
    bottom:0;
    right:0;
    width: 100%;
}
.footerText {
    margin-bottom: 16px;
}
.Select-container {
    width: 252px;
}
.Select-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(128, 131, 164, 0.06);
    border: 2px solid rgba(128, 131, 164, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
    color: #8083A4;
    font-size: 16px;
    text-align: left;
    padding: 16px 12px;
}
.Select-container-header:hover {
    cursor: pointer;
    border: 2px solid #8083A4;
}
ul {
    padding-inline-start: 0px;
}
li {
    width: 100%;
}
.invisible {
    display: none;
}
.rotate {
    animation: rotate-keyframes 1s;
}
.rotate {
    animation: rotate-keyframes 0.5s;
}

@keyframes rotate-keyframes {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}
.Display {
    margin-top: 64px;
    width: 100%;
}
.Display-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Display-placeholder-text {
    margin-top: 24px;
    margin-bottom: 90px;
    color: #8083A4;
    font-size: 16px;
    font-weight: 700;
}
.Card-content {
    display: flex;
    flex-direction: column;
}
.Card-selectors {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Select-options-list {
    padding: 0px 0px;
}
.Select-options-list-item {
    width: 90%;
    list-style: none;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #2C2D76;
    padding: 9px 10px;
}
.Select-options-list-item:hover {
    cursor: pointer;
    background: rgba(128, 131, 164, 0.06);
    border-radius: 8px;
}
/* HELPERS */
.selected{
    border: 2px solid #373AF5;
}
.filled {
    color: #2C2D76;
}
.Select-options {
    margin-top: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    background: #FFFFFF;
    border: 2px solid rgba(128, 131, 164, 0.06);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(4, 5, 73, 0.16), 14px 14px 20px rgba(5, 6, 114, 0.08);
    border-radius: 8px;
    max-height: 160px;
    margin-bottom: 0;
    width: 252px;
}
.Select-options::-webkit-scrollbar-track {
    height: 1px;
    display: none;
  }
  
  .Select-options::-webkit-scrollbar {
    height: 1px;
    width: 4px;
  }
  
  .Select-options::-webkit-scrollbar-thumb {
    /* margin: auto; */
    height: 1px;
    background-color: #8083A4;
    width: 4px;
    height: 8px;
  }