/* App.css */
.App {
    background-color: #373AF5;
    text-align: center;
    height: 100%;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
      color: #FFFFFF;
      font-size: 102px;
      font-weight: 700;
    /* background-color: #282c34; */
    /* min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white; */
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* index.css */
  /* @font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Bold'), url(./fonts/Ubuntu-Bold.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Bold Italic'), url(./fonts/Ubuntu-BoldItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Italic'), url(./fonts/Ubuntu-Italic.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Light'), url(./fonts/Ubuntu-Light.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Light Italic'), url(./fonts/Ubuntu-LightItalic.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Medium'), url(./fonts/Ubuntu-Medium.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Medium Italic'), url(./fonts/Ubuntu-MediumItalic.ttf) format('ttf');
} */
@font-face {
    font-family: 'UbuntuRegular';
    src: local('Ubuntu Regular'), url(./fonts/Ubuntu-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'UbuntuBold';
    src: local('Ubuntu Bold'), url(./fonts/Ubuntu-Bold.ttf) format('truetype');
}
  
body, html {
    height: 100%;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'UbuntuRegular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'UbuntuRegular';
}

/* background */
.backgroundImage {
    background-position:right top, left bottom;
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

/* card */
.Card {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
    border-radius: 8px;
    padding: 0 58px;
}
.Card-header {
    margin-top: 50px;
}
h1 {
    line-height: 32px;
    font-family: 'UbuntuBold';
    color: #2C2D76;
    font-size: 32px;
}
h2 {
    line-height: 32px;
    font-family: 'UbuntuBold';
    color: #2C2D76;
    font-size: 24px;
}